*:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
  border: 0;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  width: calc(100% / 2);
  height: auto;
  min-width: 200px;
  max-width: 300px;
}

.clock-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  border: 0;
  border-radius: 4px;
  width: 100%;
  align-self: center;
  justify-self: flex-start;
}

.clock-time {
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  display: flex;
  text-align: center;
  align-self: center;
}

.clock-period {
  font-size: 0.5em;
  margin-left: 5px;
  vertical-align: top;
}

.clock-controls {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.clock-controls.visible {
  max-height: 200px;
  opacity: 1;
}

.clock-controls select,
.clock-controls button,
.clock-container input,
.footer button #remove-btn {
  margin-bottom: 8px;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.clock-container option {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
}

.clock-container select:last-child {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

#change-btn {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button i {
  cursor: pointer;
  font-size: large;
}

.remove-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: red;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
